.footer {
  width: min(1232px, calc(100% - 64px));
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 24px;
  box-sizing: border-box;
}

.footer__nav {
  display: flex;
  flex-direction: row;
}

.footer__top-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__supersite {
  margin: 0;
  width: 433px;
  color: rgba(182, 188, 191, 1);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}

.footer__nav-home {
  color: rgba(26, 27, 34, 1);
  font-weight: 400;
  font-size: 18px;
  font-family: Roboto;
  margin: 0;
  margin-right: 40px;
  text-decoration: none;
}

.footer__nav-tripleten {
  margin: 0;
  color: rgba(26, 27, 34, 1);
  font-weight: 400;
  font-size: 18px;
  font-family: Roboto;
  margin-right: 40px;
  text-decoration: none;
}

.footer__github-image {
  margin: 0;
  margin-right: 24px;
}

.footer__linkedin-image {
  margin: 0;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer {
    width: calc(100% - 80px);
    max-width: 688px;
    height: auto;
    padding-top: 96px;
    padding-bottom: 24px;
  }

  .footer__supersite {
    margin: 0;
    width: 300px;
    color: rgba(182, 188, 191, 1);
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .footer {
    width: calc(100% - 32px);
    max-width: 420px;
    height: auto;
    flex-direction: column;
    align-items: stretch;
    padding-top: 48px;
    padding-bottom: 24px;
  }

  .footer__nav {
    flex-direction: column;
    gap: 30px;
  }

  .footer__top-row {
    order: 1;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .footer__supersite {
    order: 2;
    margin-top: 40px;
    margin-bottom: 0;
    width: 100%;
    text-align: center;
  }

  .footer__nav-home {
    margin: 0;
  }
  .footer__icons {
    display: flex;
    height: 24px;
  }

  .footer__nav-tripleten {
    margin: 0;
    margin-left: 0;
    margin-right: 0;
    text-decoration: none;
    color: rgba(26, 27, 34, 1);
  }

  .footer__github-image,
  .footer__linkedin-image {
    margin: 0;
    margin-right: 24px;
    width: 24px;
    height: 24px;
  }

  .linkedin__image {
    margin: 0;
  }
}
